.cards{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-icon{
    width: 30px;
    height: 30px;
}

.card-title{
    font-size: 16px;
    font-weight: 500;
}

.card-value{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.card-subtext{
    font-size: 12px;
    color: gray;
}

.cards:hover{
    background-color: beige;
    border-radius: 8px;
}