.users-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 20px;
    margin-top: 20px;
}

.user-card{
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-avatat{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}